name: CI

on:
  - push
  - pull_request

jobs:
  cabal:
    name: ${{ matrix.os }} / ghc ${{ matrix.ghc }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        ghc:
          - "9.6.6"
          - "9.8.2"
          - "9.10.1"
          - "9.12.1"

    steps:
    - uses: actions/checkout@v3

    - uses: haskell-actions/setup@v2.7.9
      id: setup-haskell-cabal
      name: Setup Haskell
      with:
        ghc-version: ${{ matrix.ghc }}
        cabal-version: '3.12.1.0'

    - name: Update Cabal Index
      run: |
        cabal update

    - name: Configure
      run: |
        cabal configure --write-ghc-environment-files=always

    - name: Freeze
      run: |
        cabal freeze

    - uses: actions/cache@v3
      name: Cache ~/.cabal/store
      with:
        path: ${{ steps.setup-haskell-cabal.outputs.cabal-store }}
        key: ${{ runner.os }}-${{ matrix.ghc }}-${{ hashFiles('cabal.project.freeze') }}

    - name: Install dependencies
      run: |
        cabal build --dependencies-only -j2 all
        cabal build --enable-benchmarks --dependencies-only -j2 all

    - name: Build
      run: |
        cabal build monoidal-plugins
